<footer class="mt-auto py-3 bg-light fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <span class="oswald-font"> © 2025 The Yon Co. </span>
      </div>
    </div>
  </div>
</footer>
