<header class="header">
  <div class="container">
    <div class="container logo">
      <a href="/" alt="Logo">
        <span class="press-start-2p-regular">Yon</span>
      </a>
    </div>

    <div class="container">
      <a class="nav-items" href="/" alt="Post">
        <span class="oswald-nav">Post</span>
      </a>

      <a class="nav-items" href="/" alt="Feed">
        <span class="oswald-nav">Feed</span>
      </a>

      <a class="nav-items" href="/" alt="Feed">
        <span class="oswald-nav">About</span>
      </a>
    </div>
  </div>
</header>
