<header class="header">
  <nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid mx-3">
      <span class="press-start-2p-font"
        ><a class="navbar-brand mx-0" href="/">Yon</a></span
      >
      <span class="oswald-font">
        <button type="button" class="btn btn-outline-dark">Posts</button>
      </span>
    </div>
  </nav>
</header>
