<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS-->
    <link rel="stylesheet" href="styles/main.css" />
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />

    <title>Yon</title>
  </head>

  <body>
    <div class="flex-container">
      <!--Header-->
      <%-include("partials/header.ejs")%>
      <!--Main-->
      <%-include("partials/main.ejs")%>
      <!--Footer-->
      <%-include("partials/footer.ejs")%>
    </div>
  </body>
</html>
