body {
    height: 100vh;
}
nav {
    height: 100px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

a img {
    display: block;
    height: 50px;
    width: auto;
    position: relative;
    object-fit: inherit;
}

.navbar-collapse {
    justify-content: center;
}
.col-sm-8 {
    margin: 0;
    padding: 0;
}

.col-12 {
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}